<footer class="footer">
    <div class="footer-container container">
        <div class="row">
            <div class="col-sm-12 col-xl-4 pt-3">
                <h1 class="footer-content-heading">GET IN TOUCH</h1>
                <p class="footer-content-para">Any questions? Let us know in store at 8th floor, 
                    379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879</p>
                <div class="footer-content-socials">
                    <ul class="footer-content-socials-list d-flex align-items-center m-0 p-0 list-unstyled">
                        <li class="footer-content-socials-items">
                            <i class="fa-brands fa-facebook-f icon-socials ps-0"></i>
                        </li>
                        <li class="footer-content-socials-items">
                            <i class="fa-brands fa-instagram icon-socials"></i>
                        </li>
                        <li class="footer-content-socials-items">
                            <i class="fa-brands fa-pinterest-p icon-socials"></i>
                        </li>
                        <li class="footer-content-socials-items">
                            <i class="fa-brands fa-snapchat icon-socials"></i>
                        </li>
                        <li class="footer-content-socials-items">
                            <i class="fa-brands fa-youtube icon-socials"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-xl-4 pt-3">
                <div class="row">
                    <div class="col-sm-12 col-xl-4">
                        <h1 class="footer-content-heading">CATEGORIES</h1>
                        <ul class="footer-content-list list-unstyled">
                            <li class="footer-content-item">
                                <a href="" class="footer-content-link">Camera</a>
                            </li>
                            <li class="footer-content-item">
                                <a href="" class="footer-content-link">Laptop</a>
                            </li>
                            <li class="footer-content-item">
                                <a href="" class="footer-content-link">Watch</a>
                            </li>
                            <li class="footer-content-item">
                                <a href="" class="footer-content-link">VR</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-xl-4">
                        <h1 class="footer-content-heading">LINKS</h1>
                        <ul class="footer-content-list list-unstyled">
                            <li class="footer-content-item">
                                <a href="" class="footer-content-link">Search</a>
                            </li>
                            <li class="footer-content-item">
                                <a href="" class="footer-content-link">About us</a>
                            </li>
                            <li class="footer-content-item">
                                <a href="" class="footer-content-link">Contact us</a>
                            </li>
                            <li class="footer-content-item">
                                <a href="" class="footer-content-link">Returns</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-xl-4">
                        <h1 class="footer-content-heading">HELP</h1>
                        <ul class="footer-content-list list-unstyled">
                            <li class="footer-content-item">
                                <a href="" class="footer-content-link">Track order</a>
                            </li>
                            <li class="footer-content-item">
                                <a href="" class="footer-content-link">Returns</a>
                            </li>
                            <li class="footer-content-item">
                                <a href="" class="footer-content-link">Shipping</a>
                            </li>
                            <li class="footer-content-item">
                                <a href="" class="footer-content-link">FAQs</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-4 pt-3">
                <h1 class="footer-content-heading">NEWSLETTER</h1>
                <div class="footer-form">
                    <form action="">
                        <input type="email" placeholder="email@example.com" class="footer-email">
                    </form>
                </div>
                <button class="my-second-btn btn-size-l my-btn-bg-black">SUBSCRIBE</button>
            </div>
        </div>
        <div class="row pt-5">
            <ul class="footer-pay-method list-unstyled d-flex justify-content-center">
                <li class="footer-pay-method-item">
                    <a href="" class="footer-pay-method-link">
                        <i class="fa-brands fa-cc-paypal"></i>
                    </a>
                </li>
                <li class="footer-pay-method-item">
                    <a href="" class="footer-pay-method-link">
                        <i class="fa-brands fa-cc-visa"></i>
                    </a>
                </li>
                <li class="footer-pay-method-item">
                    <a href="" class="footer-pay-method-link">
                        <i class="fa-brands fa-cc-mastercard"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="text-center">
            <h1 class="footer-copy-right">Copyright © 2017 Colorlib. All rights reserved.</h1>
        </div>
    </div>
</footer>
