<section class="login-signin" id="login-signin">
    <div class="login-signin-container">
        <div class="login-singin-close">
            <button class="my-btn-close" onclick="closeFormLogin()">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="login" id="loginForm">
            <div class="login-header text-center">
                <h1 class="login-heading">SIGN IN</h1>
            </div>
            <div class="login-form">
                <form action="">
                    <label for="">Email: </label>
                    <br>
                    <input type="email" placeholder="Your email" class="form-control mt-2" required>
                    <br>
                    <label for="">Password: </label>
                    <br>
                    <input type="password" placeholder="Your password" class="form-control mt-2" required>
                    <br>
                    <br>
                    <button class="my-btn my-third-btn btn-size-l bg-primary-color w-100 btn-form-login">Login</button>
                </form>
                <a href="" class="login-forget">Forget your password?</a>
                <span class="sign-in-text">or</span>
                <p class="sign-in-text">If you don't have account! <span class="sign-in-form" onclick="openSignUp()">Sign up</span></p>
            </div>
            <div class="login-footer">
                <div class="login-footer-logo text-center">
                    <img src="assets/image/logo.webp" alt="">
                </div>
                <div class="login-footer-content">
                    <p class="login-footer-para m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Iste quod non ad, error nesciunt natus, quas officiis maiores 
                        necessitatibus labore obcaecati, officia soluta quo eius laborum 
                        ducimus sunt consequuntur perspiciatis.</p>
                </div>
            </div>
        </div>
        <div class="sign-up" id="signUp">
            <div class="login-header text-center">
                <h1 class="login-heading">Sign Up</h1>
            </div>
            <div class="login-form">
                <form action="">
                    <label for="">First name: </label>
                    <br>
                    <input type="text" placeholder="First name" class="form-control mt-2" required>
                    <br>
                    <label for="">Last name: </label>
                    <br>
                    <input type="text" placeholder="Last name" class="form-control mt-2" required>
                    <br>
                    <label for="">Email: </label>
                    <br>
                    <input type="email" placeholder="Your email" class="form-control mt-2" required>
                    <br>
                    <label for="">Password: </label>
                    <br>
                    <input type="password" placeholder="Your password" class="form-control mt-2" required>
                    <br>
                    <label for="">Confirm password: </label>
                    <br>
                    <input type="password" placeholder="Confirm password" class="form-control mt-2" required>
                    <br>
                    <br>
                    <button class="my-btn my-third-btn btn-size-l bg-primary-color w-100 btn-form-login">Create account</button>
                </form>
                <p class="sign-in-text">You're already account? <span class="sign-in-form" (click)="openLoginForm()">Sign In</span></p>
            </div>
            <div class="login-footer">
                <div class="login-footer-logo text-center">
                    <img src="assets/image/logo.webp" alt="">
                </div>
                <div class="login-footer-content">
                    <p class="login-footer-para m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Iste quod non ad, error nesciunt natus, quas officiis maiores 
                        necessitatibus labore obcaecati, officia soluta quo eius laborum 
                        ducimus sunt consequuntur perspiciatis.</p>
                </div>
            </div>
        </div>
    </div>
</section>
