<section class="product-detail">
    <div class="product-detail-nav d-flex justify-content-center">
        <div class="container pb-4">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-2 col-sm-2 product-detail-nav-link-container" *ngFor="let item of categories">
                    <a [routerLink]="['/shop/product', item.tenDanhMuc]" class="product-detail-nav-link" [ngClass]="{'active': active == item.tenDanhMuc}">{{item.tenDanhMuc}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="product-detail-container container-fluid">
        <div class="row">
            <div class="col-xxl-2 col-md-3 hide-produce-sidebar">
                <form action="" [formGroup]="formSearch" (change)="ngOnChanges($event)">
                    <div class="product-detail-sidebar">
                        <div class="product-detaile-search d-flex align-items-center justify-content-end mb-3">
                            <input type="text" formControlName="searchText" class="product-detail-search-input w-100" id="inputSearch" placeholder="Name device">
                        </div>
                        <div class="product-detail-filter mb-3">
                            <div class="product-detail-filter-price">
                                <h1 class="product-detail-filter">Filter price</h1>
                                <div class="product-detail-filter-checkbox-container" formArrayName="boxes">
                                    <div class="product-detail-filter-checkbox d-flex align-items-center mb-3"
                                    *ngFor="let box of boxes.controls, index as i" [formGroupName]="i">
                                        <input type="checkbox" formControlName="checked">
                                        <p class="product-detail-filter-content">{{priceFillter[i].price}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-detail-filter mb-3">
                            <div class="product-detail-filter-price">
                                <h1 class="product-detail-filter">Filter brand</h1>
                                <div class="product-detail-filter-checkbox-container" formArrayName="brand">
                                    <div class="product-detail-filter-checkbox d-flex align-items-center mb-3" *ngFor="let item of brand.controls, index as i" [formGroupName]="i">
                                        <input type="checkbox" formControlName="checked">
                                        <p class="product-detail-filter-content">{{brandFilter[i].brand}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xxl-10 col-md-8 col-sm-12">
                <div class="row">
                    <div class="text-center" *ngIf="products.length == 0">
                        <p class="product-detail-warn m-0">No device.</p>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-12" *ngFor="let item of products">
                        <div class="product-detail-card mb-5">
                            <div class="product-detail-card-container">
                                <div class="product-detail-card-img">
                                    <img src="{{item.img}}" alt="" class="w-100">
                                </div>
                                <div class="product-detail-card-content">
                                    <h3 class="product-detail-card-heading">{{item.nameProduct}}</h3>
                                    <div class="product-detail-card-footer d-flex justify-content-between align-items-center">
                                        <p class="product-detail-card-price m-0">${{item.price}}</p>
                                        <div class="product-detail-card-button">
                                            <button class="my-btn my-btn-detail-card btn-size-sm" (click)="insertToCart(item.nameProduct, item.categories.id)">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                            </button>
                                            <button [routerLink]="['/shop/detail', item.nameProduct]" class="product-detail-card-button-link my-btn my-btn-detail-card btn-size-sm" (click)="insertId(item.id)">
                                                Detail
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="follow">
    <div class="follow-header text-center">
        <h1 class="heading">@ FOLLOW US ON INSTAGRAM</h1>
    </div>
    <div class="container-fluid">
        <div class="row pt-4">
            <div class="col-lg-3 col-sm-6 p-0">
                <div class="follow-card">
                    <div class="follow-card-img">
                        <img src="/assets/image/laptop/paige-cody-ITTqjS3UpoY-unsplash.jpg" alt="" class="w-100">
                        <div class="follow-card-wrap">
                            <div class="follow-card-heart text-end p-2">
                                <i class="fa-regular fa-heart icon-heart-empty iconEmptyHeart"></i>
                            </div>
                            <div class="follow-card-btn text-center">
                                <p class="follow-card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Consectetur dicta molestias qui fuga ducimus omnis, hic laborum animi quibusdam soluta!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 p-0">
                <div class="follow-card">
                    <div class="follow-card-img">
                        <img src="/assets/image/laptop/brooke-cagle-ICTKcvnXx_8-unsplash.jpg" alt="" class="w-100">
                        <div class="follow-card-wrap">
                            <div class="follow-card-heart text-end p-2">
                                <i class="fa-regular fa-heart icon-heart-empty iconEmptyHeart"></i>
                            </div>
                            <div class="follow-card-btn text-center">
                                <p class="follow-card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Consectetur dicta molestias qui fuga ducimus omnis, hic laborum animi quibusdam soluta!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 p-0">
                <div class="follow-card">
                    <div class="follow-card-img">
                        <img src="/assets/image/watch/hunters-race--SDgOlirIaY-unsplash.jpg" alt="" class="w-100">
                        <div class="follow-card-wrap">
                            <div class="follow-card-heart text-end p-2">
                                <i class="fa-regular fa-heart icon-heart-empty iconEmptyHeart"></i>
                            </div>
                            <div class="follow-card-btn text-center">
                                <p class="follow-card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Consectetur dicta molestias qui fuga ducimus omnis, hic laborum animi quibusdam soluta!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 p-0">
                <div class="follow-card">
                    <div class="follow-card-img">
                        <img src="/assets/image/camera/jamie-street-5eW9XUDwdW0-unsplash.jpg" alt="" class="w-100">
                        <div class="follow-card-wrap">
                            <div class="follow-card-heart text-end p-2">
                                <i class="fa-regular fa-heart icon-heart-empty iconEmptyHeart"></i>
                            </div>
                            <div class="follow-card-btn text-center">
                                <p class="follow-card-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Consectetur dicta molestias qui fuga ducimus omnis, hic laborum animi quibusdam soluta!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="service">
    <div class="service-container container-fluid">
        <div class="row service-container-row">
            <div class="col-xl-4 col-sm-12 service-container-col mb-sm-3">
                <div class="service-content">
                    <h1 class="service-content-heading">Free Delivery Worldwide</h1>
                    <a href="" class="service-content-link">Click here for more info</a>
                </div>
            </div>
            <div class="col-xl-4 col-sm-12 service-container-col mb-sm-3">
                <div class="service-content">
                    <h1 class="service-content-heading">30 Days Return</h1>
                    <p href="" class="service-content-link">Simply return it within 30 days for an exchange.</p>
                </div>
            </div>
            <div class="col-xl-4 col-sm-12 service-container-col mb-sm-3">
                <div class="service-content">
                    <h1 class="service-content-heading">Store Opening</h1>
                    <p href="" class="service-content-link">Shop open from Monday to Sunday</p>
                </div>
            </div>
        </div>
    </div>
</section>
