*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
}

:root{
    --primary-color: #e65540;
    --primary-color-bg: #ffffff;
    --second-color-bg: #111111;
    --thirth-color-bg: #fffff2;
    --fourth-color-bg: #f5f5f5;
    --primary-color-text: #333333;
    --second-color-text: #222222;
    --third-color-text: #555555;
    --fourth-color-text: #888888;
    --fifth-color-text: #212529;
}

.circle{
    border-radius: 50%;
    padding: 2px;
    border: 1px solid var(--fourth-color-text) !important;
}

.circle-without-border{
    border-radius: 50%;
    padding: 2px;
    background-color: var(--second-color-bg);
    opacity: 0.8;
}

.circle-without-border.circle-size-m{
    width: 32px;
    height: 32px;
}

.circle.circle-size-m{
    width: 32px;
    height: 32px;
}

.icon-socials{
    padding: 0 12px;
    font-size: 18px;
    color: var(--fourth-color-text);
}

.icon-heart-empty{
    cursor: pointer;
    font-size: 20px;
    color: var(--fourth-color-bg);
}

.icon-heart-full{
    cursor: pointer;
    font-size: 20px;
    display: none;
    color: var(--fourth-color-bg);
}

.icon-heart-empty:hover.icon-heart-full{
    display: block;
}

.my-btn{
    letter-spacing: 1px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--primary-color-bg);
}

.my-second-btn{
    letter-spacing: 1px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--primary-color-bg);
    min-width: 160px;
    border-radius: 32px;
    font-size: 15px;
    transition: .3s;
}

.my-third-btn{
    letter-spacing: 1px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--primary-color-bg);
    min-width: 179px;
    font-size: 15px;
    color: var(--third-color-text);
    transition: .4s;
}

.my-btn-detail-card{
    letter-spacing: 1px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--primary-color-bg);
    min-width: 60px;
    font-size: 15px;
    color: var(--third-color-text);
    transition: .4s;
}

.my-search-btn{
    padding: 3px;
    font-size: 15px;
}

.my-third-btn.btn-size-m{
    min-width: 80px !important;
    border-radius: 3px;
}

.my-second-btn.btn-size-l{
    padding: 10px 20px;
}

.my-third-btn.btn-size-l{
    padding: 10px 20px;
}

.my-second-btn.bg-fourth-color{
    background-color: var(--fourth-color-bg);
}

.my-third-btn.btn-size-sm{
    padding: 3px 5px;
}

.my-third-btn.bg-primary-color{
    background-color: var(--primary-color);
    color: var(--primary-color-bg); 
}

.my-btn-detail-card.bg-primary-color{
    background-color: var(--primary-color);
    color: var(--primary-color-bg); 
}

.my-btn-detail-card:hover{
    background-color: var(--primary-color);
    color: var(--primary-color-bg);
}

.my-search-btn.bg-primary-color{
    background-color: var(--primary-color);
    color: var(--primary-color-bg); 
}

.my-btn-bg-black{
    background-color: var(--second-color-bg);
    color: var(--primary-color-bg);
}

.my-btn-bg-d9{
    background-color: #d9d9d9;
}

.my-btn-close{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--primary-color-bg);
}

.my-btn-close > i {
    font-size: 25px;
    color: var(--fourth-color-text);
    transition: .4s;
}

.my-btn-close:hover > i {
    color: var(--primary-color);
}

.icon-bag,
.icon-bar,
.icon-user{
    font-size: 18px;
    color: var(--fourth-color-text);
}

.nav-nation-socaials-items:hover .icon-socials{
    color: var(--primary-color);
}

.heading{
    font-size: 30px;
    font-weight: 700;
}
