@import url(animation.css);


.header-container{
    position: relative;
    height: 122px;
}

.fixed-header{
    height: 80px;
}

.nav-nation{
    height: 42px;
    padding: 0 40px;
    background-color: var(--fourth-color-bg);
}

.nav-nation-email,
.nav-nation-content-text{
    font-size: 13px;
    color: var(--fourth-color-text);
}

.nav-nation-socials-list{
    list-style: none;
    cursor: pointer;
}

.nav-nation-select{
    font-size: 13px;
    outline: none;
    border-radius: 3px;
    border: 1px solid var(--fourth-color-bg);
    padding: 5px 8px;
    cursor: pointer;
}

.nav-nation-option{
    font-size: 13px;
}

.nav-main{
    position: fixed;
    top: 42px;
    width: 100%;
    height: 80px;
    padding: 0 40px;
    z-index: 200;
    transition: .2s;
    background-color: var(--primary-color-bg);
    box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 20%);
}

.nav-logo{
    padding: 0 12px;
}


.nav-list-item{
    padding: 20px 15px;
    position: relative;
}

.nav-list-item-link{
    position: relative;
    text-decoration: none;
    color: var(--primary-color-text);
    font-size: 15px;
}

.nav-list-item-link:hover.nav-list-item-link::after{
    display: block;
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: var(--primary-color);
    height: 1px;
    animation: fadeInUnderline .4s ease;
}

.nav-list-item-link:hover{
    color: var(--primary-color);
}

.sub-nav-container{
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: fadeIn ease-in 0.2s;
}

.sub-nav{
    background-color: var(--fourth-color-bg);
    min-width: 150px;
    z-index: 1000;
}

.nav-list-item:hover .sub-nav-container{
    display: block;
}

.sub-nav-item{
    padding:5px 10px;
    text-align: left;
    transition: .2s;
}

.sub-nav-item:hover{
    background-color: #f0f0f0;
}

.sub-nav-list-text:hover{
    color: var(--fourth-color-text);
}

.sub-nav-list-text{
    display: block;
    cursor: pointer;
    font-size: 14px;
    color: var(--fourth-color-text);
    text-decoration: none;
}

.nav-list-on-mobile{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 0;
    animation: topToBottom .8s ease;
}

.nav-list-item-on-mobile{
    background-color: var(--primary-color-bg);
    padding: 0 40px 0 52px;
    border-top: 1px solid #ececec;
}

/* End of header */

/* Login */
.login-signin{
    display: none;
    z-index: 555;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 420px;
    background-color: var(--primary-color-bg);
    animation: rightToLeft .6s ease-in;
    overflow-y: scroll;
}

.login-signin-container{
    padding: 0 15px;
}

.login-singin-close{
    padding-top: 20px;
    padding-left: 15px; 
}

.login-header{
    padding: 15px;
    border-bottom: 1px solid #d9d9d9;
}

.login-heading{
    font-size: 22px;
    color: var(--fourth-color-text);
}

.login-form{
    margin-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d9d9d9;
}

.btn-form-login:hover{
    background-color: var(--primary-color);
    opacity: 0.8;
}

.btn-form-login-out{
    position: relative;
	display: inline-block;
	padding: 0 5px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.btn-form-login-out:hover .form-infor-login{
    display: block;
}

.sign-in-text,
.login-forget{
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: var(--fourth-color-text);
    font-size: 14px;
}

.sign-in-text{
    margin-top: 10px;
}

.login-forget:hover{
    color: var(--primary-color);
}

.login-footer{
    margin-top: 40px;
}

.login-footer-content{
    margin-top: 20px;
}

.login-footer-para{
    font-size: 15px;
    color: var(--fourth-color-text);
    line-height: 1.7;
    text-align: center;
}

.sign-in-form{
    margin-left: 15px;
    cursor: pointer;
    font-size: 18px;
    color: var(--primary-color);
}

.sign-in-form:hover{
    color: var(--fourth-color-text);
}

.sign-up{
    display: none;
}

.form-infor-login{
    z-index: 1;
	cursor: default;
	border-radius: 2px;
	width: 150px;
	position: absolute;
	top: calc(100% + 10px);
	right: 5px;
	background-color: var(--primary-color-bg);
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	display: none;
	animation: fadeIn ease-in 0.2s;
}

.form-infor-login::before{
    display: block;
    content: "";
	position: absolute;
	width: 100%;
    height: 14px;
	top: -14px;
}

.form-infor-login::after{
	cursor: pointer;
	content: "";
	position: absolute;
	right: 5px;
	top: -26px;
	border-width: 16px 20px;
	border-style: solid;
	border-color: transparent transparent var(--fourth-color-bg) transparent;
}

.form-infor-list{
    padding-top: 5px;
    padding-left: 5px;
    list-style: none;
}

.form-infor-item{
    padding: 7px 5px;
}

.form-infor-item:hover{
    background-color: #f8f8f8;
}

.form-infor-item-text{
    color: var(--fourth-color-text);
    font-size: 14px;
    text-decoration: none;
}

.form-infor-item-text:hover{
    color: var(--fourth-color-text);
}



/* Begin of slider */
.slide{
    height: 570px;
    position: relative;
}

.slider-btn-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slider-btn-container:hover .carousel-control-next,
.slider-btn-container:hover .carousel-control-prev{
    display: block;
}

.carousel-control-prev,
.carousel-control-next{
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--second-color-bg);
    opacity: 0.6;
    border: none !important;
    animation: fadeIn .5s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover{
    background-color: var(--primary-color);
    color: var(--thirth-color-bg);
    opacity: 0.6;
}

.slider-content{
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slider-content-header{
    font-size: 18px;
    letter-spacing: 2px;
}

.slider-content-arrivals{
    font-size: 60px;
    font-weight: 700;
}

.my-second-btn:hover{
    background-color: var(--primary-color);
    color: var(--primary-color-bg);
}

/* Product */
.product-container{
    display: grid;
}

.product-type{
    position: relative;
}

.product-type-img{
    overflow: hidden;
}

.product-type-img > img{
    transition: .4s;
}

.product-type:hover .product-type-img > img{
    transform: scale(1.1);
}

.product-type-btn{
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
}

.my-third-btn:hover{
    background-color: var(--primary-color);
    color: var(--primary-color-bg);
}

.product-content-shop{
    padding: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.product-content-shop-container{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 40px;
    right: 40px;
    transform: translateY(-50%);
}

.product-content-shop-header{
    font-size: 30px;
}

.product-content-shop-para{
    color: var(--fourth-color-text);
    font-size: 15px;
}

/* Product detail */
.product-detail{
    padding-top: 50px;
}

.product-detail-container{
    padding: 30px 30px 0 0;
}

.product-detail-sidebar{
    position: sticky;
    top: 80px;
    padding: 15px 15px;
}

.product-detail-search-input{
    border: 1px solid #d9d9d9;
    outline: none;
    padding: 3px;
    font-size: 13px;
    border-radius: 3px;
}

.product-detail-filter{
    font-size: 15px;
    margin-bottom: 10px;
}

.product-detail-filter-content{
    font-size: 13px;
    color: var(--fourth-color-text);
    margin-left: 10px;
    margin-bottom: 0;
}

.product-detail-card{
    /* box-shadow: 4px 2px 6px 5px rgba(0,0,0,.1); */
}

.product-detail-card-content{
    padding: 12px 10px;
}

.product-detail-card-img{
    overflow: hidden;
}

.my-btn.product-detail-card-button-link{
    text-decoration: none;
}

.product-detail-card-img > img{
    display: block;
    margin: 0 auto;
    transition: .4s;
}

.product-detail-card-img:hover > img{
    transform: scale(1.1);
}

.product-detail-card-price{
    color: var(--fourth-color-text);
    font-size: 17px;
}

.product-detail-card-heading{
    font-size: 16px;
}





/* Detail */
.detail{
    padding-top: 50px;
}

.detail-product-content-heading{
    font-size: 35px;
    margin-bottom: 15px;
}

.detail-product-content-price{
    font-size: 22px;
    margin-bottom: 15px;
    color: var(--fourth-color-text);
}

.detail-product-content-desc{
    font-size: 15px;
    margin-bottom: 70px;
}

.detail-quantity-input{
    outline: none;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    max-width: 75px;
}

/* feature-product */
.feature-product{
    position: relative;
    margin-top: 140px;
}

.follow-card-img,
.feature-product-card-img{
    position: relative;
    margin-bottom: 10px;
}

.follow-card-wrap,
.feature-product-card-wrap{
    overflow: hidden;
    /* display: none; */
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
    transition: .5s;
}

.feature-product-carousel-inner{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.follow-card-img:hover .follow-card-wrap,
.feature-product-card-img:hover .feature-product-card-wrap{
    opacity: 1;
    /* display: block; */
}

.feature-product-card-btn{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: bottomToTop .5s ease-out;
}

.feature-product-card-name{
    text-decoration: none;
    font-size: 15px;
    color: var(--third-color-text);
    margin-bottom: 5px;
}

.feature-product-card-name:hover{
    color: var(--primary-color);
}


.feature-product-card-price{
    font-size: 16px;
    color: var(--third-color-text);
}

.feature-product-btn-next,
.feature-product-btn-prev{
    color: var(--second-color-bg);
    border: none !important;
}

.feature-product-btn-next:hover,
.feature-product-btn-prev:hover{
    background-color: var(--primary-color);
    opacity: 0.6;
}

.feature-product-btn-next:hover>i,
.feature-product-btn-prev:hover>i{
    color: var(--thirth-color-bg) !important;
}


/* Banner */
.banner{
    padding: 55px 0;
    /* margin-top: 50px; */
    background-color: #f2f2f2;
}

.banner-content-card{
    position: relative;
}

.banner-content-card:hover .banner-content-card-img{
    transform: scale(1.1);
}

.banner-content-inner-card{
    overflow: hidden;
}

.banner-content-card-img{
    transition: .4s;
}

.banner-content-collection{
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.banner-content-collection-heading{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
}

.banner-content-collection-para{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 38px;
}

.banner-content-collection-link{
    text-decoration: none;
    font-size: 15px;
}

.banner-content-collection-link:hover{
    text-decoration: underline;
}

.banner-content-product{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
}

.banner-content-product-name{
    text-decoration: none;
    color: var(--third-color-text);
    font-size: 16px;
    transition: .4s;
}

.banner-content-product-name:hover{
    color: var(--primary-color);
}

.banner-content-price{
    color: var(--third-color-text);
    font-size: 18px;
}

/* OUR BLOG */
.our-blog{
    margin-top: 60px;
}

.our-blog-content{
    padding-top: 10px;
}

.our-blog-content-heading{
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    color: var(--primary-color-text);
    font-size: 16px;
    transition: .3s;
}

.our-blog-card-img{
    overflow: hidden;
}

.our-blog-card-img > img{
    transition: .6s;
}

.our-blog-card-img:hover > img{
    transform: scale(1.1);
}

.our-blog-content-heading:hover{
    color: var(--primary-color);
}

.our-blog-content-author{
    color: var(--fourth-color-text);
    font-size: 13px;
    margin-bottom: 10px;
}

.our-blog-content-desc{
    color: var(--fourth-color-text);
    font-size: 13px;
}

/* Floow us on instagram */
.follow{
    padding-top: 60px;
}

.follow-card-desc{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 15px;
    text-align: left;
    font-size: 13px;
    color: var(--thirth-color-bg);
}

/* service */
.service{
    padding-top: 80px;
}

.service-content{
    position: relative;
    text-align: center;
}

.service-container-col:nth-child(2){
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}

.service-content-heading{
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--fourth-color-text);
    font-weight: 400;
}

.service-content-link{
    font-size: 13px;
    color: var(--fourth-color-text);
    text-decoration: none;
    font-weight: 300;
}

.service-content-link:hover{
    color: var(--primary-color);
    transition: .4s; 
}

/* Footer */
.footer{
    margin-top: 80px;
    padding: 40px 0;
    background-color: #f2f2f2;
}

.footer-content-heading{
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-content-para{
    font-size: 13px;
    color: var(--fourth-color-text);
}


.footer-content-item{
    padding-bottom: 10px;
}

.footer-content-link{
    font-size: 13px;
    color: var(--fourth-color-text);
    text-decoration: none;
    transition: .4s;
}

.footer-content-link:hover{
    color: var(--primary-color);
}

.footer-form{
    position: relative;
}

.footer-email{
    width: 100%;
    border: none;
    outline: none;
    background-color: #f0f0f0;
    margin-bottom: 15px;
}

.footer-email::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top:0;
    background-color: red;
}

.footer-pay-method-item{
    padding: 0 10px;
}

.footer-pay-method-link{
    color: var(--fourth-color-text);
    font-size: 25px;
    text-decoration: none;
    transition: .4s;
}

.footer-pay-method-link:hover{
    color: var(--primary-color);
}

.footer-copy-right{
    color: var(--fourth-color-text);
    font-size: 15px;
    font-weight: 400;
}



